body {
    background-image: url(../img/background.webp);
}

main {
    align-items: center;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border: 4px solid #5d3a1a;
    outline: 3px solid #3d2610;
    border-radius: 20px;
    padding: 40px;
    max-width: 1000px;
    text-align: center;
    margin-bottom: 30px;
    backdrop-filter: blur(5px);
}

.jumbotron h2 {
    font-family: "ClashFont", sans-serif;
    color: #ffcc00;
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-shadow:
        4px 4px 0px #000,
        6px 0px 0px #000,
        6px 4px 0px #000;
    margin-bottom: 20px;
}

.jumbotron p {
    color: #f0f0f0;
    font-size: 1.1rem;
    line-height: 1.6;
}

.icon-scale {
    height: 40px;
    margin-right: 20px;
}

/*JUMBOTRON DE ACTUALIZACIONES*/

.jumbotron-updates {
    background-color: rgba(40, 40, 40, 0.9);
    border-left: 8px solid var(--color-boton);
    padding: 20px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 25px;
}

.jumbotron-updates h3 {
    font-family: "ClashFont", sans-serif;
    color: #fff;
    margin-bottom: 15px;
}

.jumbotron-updates ul {
    list-style: none;
    padding: 0;
}

.jumbotron-updates li {
    color: #ddd;
    padding: 10px 0;
    border-bottom: 1px solid #555;
}